<header class="container-fluid p-1">
  <div class="row">
    <div class="col-6 d-flex">
      <i class="fa-solid fa-bars"></i>
      <img class="logo" src="../../assets/imgs/logo.jpg" alt="">
    </div>
    <div class="col-6 d-flex justify-content-end">
      <img class="rounded-circle" src="../../assets/imgs/R.png" alt="" />
      <div class="dropdown d-flex">
        <button
          class="btn dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Aiaa Ali elsayed
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <i class="fa-solid fa-power-off"></i>
    </div>
  </div>
</header>
<div class="row m-2 title">
    <p class="p-1">Create request <sub>new</sub> </p>
</div>