<form class="row mb-3 question py-2" #Form="ngForm">
  <div class="col-4 text-center d-flex">
    <button class="btn btn-primary mx-1" (click)="answerType = 'prefered'">
      prefered
    </button>
    <button
      class="btn btn-secondary mx-1"
      (click)="answerType = 'Disqualifier'"
    >
      Disqualifier
    </button>
  </div>
  <app-question-repeated-part
    (childValidation)="validateReusablePart($event)"
    (questionWeight)="calcWeights($event)"
    [questionType]="questionType"
  ></app-question-repeated-part>

  <div class="row"></div>
  <div class="row" *ngIf="answerType == 'prefered'">
    <p for="choices">Question choices</p>
    <div class="col-10 d-flex justify-content-between">
      <p>a-yes</p>
      <input type="number" placeholder="weight" class="form-control w-50" />
    </div>
    <div class="col-10 d-flex justify-content-between">
      <p>b-No</p>
      <input type="number" placeholder="weight" class="form-control w-50" />
    </div>
  </div>
  <div class="row" *ngIf="answerType == 'Disqualifier'">
    <p for="choices">Question choices</p>
    <div class="col-10 d-flex justify-content-between">
      <p>a-yes</p>
      <label class="switch">
        <input type="checkbox" (change)="controlButtons(opt1)" />
        <span class="slider round" #opt1></span>
      </label>
    </div>
    <div class="col-10 d-flex justify-content-between">
      <p>b-No</p>
      <label class="switch">
        <input type="checkbox" (change)="controlButtons(opt2)" />
        <span class="slider round" #opt2></span>
      </label>
    </div>
  </div>
  <app-error-msg *ngIf="selectError"
    >one answer must be prefered and one Disqualifier</app-error-msg
  >
  <app-error-msg *ngIf="Form.invalid && submited"
    >please enter required fields
  </app-error-msg>
</form>
