<form class="row my-3 question py-2" #Form="ngForm">
  <app-question-repeated-part
    (childValidation)="validateReusablePart($event)"
    (questionWeight)="calcWeights($event)"

    [questionType]="questionType"
  ></app-question-repeated-part>

  <div class="col-6">
    <label class="my-2 fw-semibold" for="staticEmail2"
      >Max Allowed CHaracters</label
    >
    <input
      type="number"
      class="form-control"
      placeholder="1000"
      name="chars"
      ngModel
      #chars="ngModel"
      required
      [ngClass]="{ invalid: submited && chars.invalid }"
    />
  </div>
  <app-error-msg *ngIf="(Form.invalid ||!reusablePartValidation) && submited "
    >please enter required fields
  </app-error-msg>
</form>
