<form action="" class="row pt-2" #form="ngForm">
  <div class="col-6">
    <p class="fw-semibold">
      question type:<span class="text-primary">{{ questionType }}</span>
    </p>
  </div>
  <div class="col-6 text-end">
    <button class="btn btn-danger" (click)="deleteQuestion($event)">
      delete
    </button>
  </div>
  <div class="col-6">
    <label class="my-2 fw-semibold" for="staticEmail2">Section Weight</label>
    <input
      type="text"
      class="form-control"
      placeholder="weight"
      #w="ngModel"
      [(ngModel)]="weight"
      name="weight"
      required
      (keyup)="addQuestion()"
      [ngClass]="{ invalid: submited && w.invalid }"
    />
  </div>

  <div class="col-12 my-3 quest-body">
    <input
      type="text"
      class="form-control"
      #name="ngModel"
      ngModel
      name="name"
      required
      (keyup)="patternTest(name.value)"
      [ngClass]="{ invalid: submited && name.invalid }"
    />
    <span [ngClass]="inputType =='english'?'english':'arabic'"  class="patch">en</span>

    <span class="patch">ar</span>
  </div>
</form>
