.question{border:2px lightgray solid;border-radius:10px;background-color:#d3d3d3}.invalid{border:1px solid red}.error{background-color:red;color:#fff;position:fixed;bottom:0;right:0}a{cursor:pointer}
